
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.home-Logo {
    width: 100px;
    padding: 10px;

}

.home-Title {
background-color: #ddbf6d;
color: #333;
padding: 20px;
font-family: Arial, sans-serif;

}

.home-Title-Down {
background-color: #c99a9a;
color: #333;
padding: 20px;
font-family: Arial, sans-serif;
}


.home-List-Workspaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}